html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
  font-family: sans-serif;
}

@keyframes fadeIn {
  from { opacity: 0; }
}